@font-face {
  font-family: "vt323";
  src: url("VT323-Regular.woff2") format("woff2");
}

body {
}

.container {
    padding: 10px;
    max-width: 900px;
    background-color: aquamarine;
}

.header-brand-icon {
    width: 100px;
}

.header-name {
    font-family: "vt323"
}

.section-header {
    font-family: "vt323"
}

.cover-photo{
    width: 100%;
    display: block;
}

#introduction {
    background-color: bisque;
}

#knowledge {
    background-color: cornflowerblue;
}

#contact {
    background-color: darkseagreen;
}

#education {
    background-color: lightskyblue;
}

.knowledge-quote {
    background-color: thistle;
}

.knowledge-intro-paragraph {
    background-color: tomato;
}

.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}

.top-resume {
    float: right;
    white-space: nowrap;
    background-color: blueviolet;
}

.top-contact-link {
    background-color: aqua;
    display: inline-block;
}

.topbar {
}